@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&amp;family=Poppins&amp;display=swap');
html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body {
    
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

header {
    background-color: #f2f2f2;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-left: .625rem;
}

.menu a {
    color: #5d5a88;
    text-decoration: none;
}

.banner {
    background-color: #5d5a88;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.banner h1 {
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
}

.section {
    display: flex;
    justify-content: space-between;
    margin: 3.125rem 0;
}
.section-item {
    text-align: center;
}

footer {
    background-color: #f2f2f2;
    padding: 1.25rem;
    text-align: center;
}

@media (min-width: 360px) {
    .menu {
    position: absolute;
    left: -100%;
    }

    .open {
    
    top: 0;
    left: 0;
    background-color: #5d5a88;
    width: 100vw;
    height: 100vh;
    }

    .open a {
    color: #ffffff;
    }

    .section {
    flex-direction: column;
    align-items: center;
    }

    .section-item {
    width: 90vw;
    }
}

@media (min-width: 1280px) {
    .menu-mobile {
    display: none;
    }

    .menu {
    position: relative;
    left: 0;
    }

    .section {
    flex-direction: row;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container {
    width: 40%;
    height: auto;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}

.box-form {
    margin: .5rem
}
.box-item {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}
.form-label {
    font-weight: 600;
    margin: 0.5rem 0;
}
.form-control {
    width: 100%;
    border: 0;
    background-color:#ffffff;
    height: 3.5rem;
    border-radius: 5px;
    padding-left: 10px;
}
.form-btn {
    width: 100%;
    margin: 0.8rem 0;
    border: 0;
    background-color: lightgray;
    color: #000;
    font-weight: 900;
    height: 3.5rem;
    border-radius: 5px;
    cursor: pointer;
}